@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e293b #f1f5f9;
}

.shapes {
   width: 70.4px;
   height: 70.4px;
   color: #1e293b;
   background: linear-gradient(currentColor 0 0),
          linear-gradient(currentColor 0 0),
          linear-gradient(currentColor 0 0),
          linear-gradient(currentColor 0 0);
   background-size: 36.2px 36.2px;
   background-repeat: no-repeat;
   animation: shapes-53h9rphg 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes shapes-53h9rphg {
   0% {
      background-position: 0    0,100% 0   ,100% 100%,0 100%;
   }

   33% {
      background-position: 0    0,100% 0   ,100% 100%,0 100%;
      width: 105.6px;
      height: 105.6px;
   }

   66% {
      background-position: 100% 0,100% 100%,0    100%,0 0;
      width: 105.6px;
      height: 105.6px;
   }

   100% {
      background-position: 100% 0,100% 100%,0    100%,0 0;
   }
}
